<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- pagina de donde vienen los iconos -->
    <link rel="shortcut icon" href="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" type="image/x-icon">
    <title>World Hamburgeer</title>
</head>
<html>
<header>
    <strong>Iniciar</strong>
</header>
<!-- logo -->
<div class="logo"><img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt=""></div>
<!--  -->
<section class="container">
    <!-- Secccion de botones independientes -->
    <article class="tab-buttons">
        <button class="tab-button">Iniciar</button>
        <button class="tab-button">Registrar</button>
    </article>
    <form id="form-login" class="form-content">

        <input type="text" placeholder="nombre o correo electrónico">
        <input type="password" placeholder="contraseña">
        <button>Iniciar Sesion</button>

    </form>
</section>

<body>
</body>

</html>