<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" type="image/x-icon">
    <!-- pagina de donde vienen los iconos -->
    <title>World Hamburgeer</title>
</head>
<html>

<body>
    <!-- Encabezado -->
    <header>
        <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
        <strong>Hamburguesas</strong>
    </header>
    <!-- Menú de navegacion -->
    <nav>
        <!-- lista de navegacion -->
        <ul class="nav-links">
            <li><a href="#" data-categoria="hamburguesas" class="activo">Hamburguesas</a></li>
            <li><a href="#" data-categoria="bebidas">Bebidas</a></li>
            <li><a href="#" data-categoria="combos">Combos</a></li>
            <li><a href="#" data-categoria="adiciones">Adiciones</a></li>
        </ul>
    </nav>
    <!-- Seccion de cartas de menú -->
    <section id="menu-cards" class="menu-cards">
        <div class="card">
            <span>Hamburguesa Sencilla</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$12.000</Button>
        </div>
        <div class="card">
            <span>Hamburguesa Doble</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$16.000</Button>
        </div>
        <div class="card">
            <span>Hamburguesa Mixta</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$18.000</Button>
        </div>
        <div class="card">
            <span>Hamburguesa Hawaina</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$15.000</Button>
        </div>
        <div class="card">
            <span>Hamburguesa Ranchera</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$20.000</Button>
        </div>
        <div class="card">
            <span>Hamburguesa Especial</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$22.000</Button>
        </div>
    </section>

    <script src="/src/js/menu.js"></script>
</body>

</html>