<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="shortcut icon" href="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" type="image/x-icon"><!-- pagina de donde vienen los iconos -->
    <title>World Hamburgeer</title>
</head>
<html>

<body>
    <!-- Encabezado -->
    <header>
        <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
        <strong>Hamburguesas</strong>
    </header>
    <!-- Menú de navegacion -->
    <nav>
        <!-- lista de navegacion -->
        <ul>
            <li><a href="">Hamburguesas</a></li>
            <li><a href="">Bebidas</a></li>
            <li><a href="">Combos</a></li>
            <li><a href="">Adiciones</a></li>
        </ul>
    </nav>
    <!-- Seccion de cartas de menú -->
    <section class="menu-cards">
        <div class="card">
            <span>Hamburguesa Sencilla</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$12.000</Button>
        </div>
        <div class="card">
            <span>Hamburguesa Sencilla</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$12.000</Button>
        </div>
        <div class="card">
            <span>Hamburguesa Sencilla</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$12.000</Button>
        </div>
    </section>
    <section class="menu-cards">
        <div class="card">
            <span>Hamburguesa Sencilla</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$12.000</Button>
        </div>
        <div class="card">
            <span>Hamburguesa Sencilla</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$12.000</Button>
        </div>
        <div class="card">
            <span>Hamburguesa Sencilla</span>
            <img src="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" alt="">
            <Button>$12.000</Button>
        </div>
    </section>
</body>

</html>