<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/sedes.css">
    <link rel="shortcut icon" href="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"><!-- pagina de donde vienen los iconos -->
    <title>World Hamburguer</title>
</head>

<body>
    <!-- encabezado -->
    <header>
        <strong>SEDES</strong><!-- nombre de la vista -->
    </header>
    <nav><!-- navegador de bienvenido -->
        <h2>iConoce nuestros locales y date la mejor experiencia!</h2>
    </nav>
    <section class="contenedor">
        <article class="sedes-lista">
            <ul>
                <li><strong>Bogotá</strong> - Cra 7 # 123-45</li>
                <li><strong>Medellín</strong> - Cl 50 # 80-30</li>
                <li><strong>Cali</strong> - Av. 6N # 23-56</li>
                <li><strong>Barranquilla</strong> - Cl 72 # 54-12</li>
                <li><strong>Cartagena</strong> - Cra 3 # 15-78</li>
                <li><strong>Santa Marta</strong> - Cl 22 # 5-67</li>
                <li><strong>Pereira</strong> - Av. Circunvalar # 40-90</li>
                <li><strong>Manizales</strong> - Cl 23 # 12-34</li>
                <li><strong>Bucaramanga</strong> - Cra 19 # 33-21</li>
                <li><strong>Cúcuta</strong> - Av. Libertadores # 10-50</li>
            </ul>
        </article>
        <aside class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31728.505197771807!2d-75.563008!3d6.2554112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1759358128524!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </aside>
    </section>
</body>
</html>