<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/sugerencia.css">
    <link rel="shortcut icon" href="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- pagina de donde vienen los iconos -->
    <title>World Hamburguer</title>
</head>

<body>
    <header>
        <strong>sugerencia</strong>
    </header>
    <section class="formulario-sugerencia">
        <label class="label" for="name">Tu nombre</label>
        <input id="name" name="name" type="text">
        <label class="label" for="">Tu e-mail</label>
        <input id="email" name="email" type="text">
        <label class="label" for="asunto">Asuntos</label>
        <input id="asunto" name="asunto" type="text">
        <article>
            <h2>Deja tu mensaje...</h2>
            <textarea name="" id=""></textarea>
            <button>Enviar</button>
        </article>
    </section>
</body>

</html>