<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/usuario.css">
    <link rel="shortcut icon" href="/src/img/ChatGPT Image 25 sept 2025, 21_37_07.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- pagina de donde vienen los iconos -->
    <title>World Hamburguer</title>
</head>

<body>
    <header>
        <strong>Usuario</strong>
    </header>
    <nav>
        <h2>¡Bienvenido Usuario!</h2>
    </nav>
    <section class="info-usuario">
        <img src="/src/img/7dd749ba968cd0f2716d988a592f461e.jpg" alt="">
        <i class="fa-solid fa-pencil"></i>
        <strong>Nombre de usuario</strong>
        <div>
            <h3>Número:</h3>
            <h3>Direccion:</h3>
            <h3>Sexo:</h3>
        </div>
    </section>
</body>

</html>