* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
    font-family: "SUSE Mono", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

body {
    background-color: #E9E294;
}

header {
    width: 100%;
    height: 15vh;
    background-color: #101313;
    display: flex;
    justify-content: center;
    align-items: center;

    strong {
        font-size: 2.5rem;
        color: #FFB703;
    }
}

.logo {
    width: 20%;
    height: 30vh;
    position: absolute;
    left: 15%;
    top: 20vh;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.container {
    width: 50%;
    height: 60vh;
    position: absolute;
    left: 20%;
    top: 47vh;
    background-color: #101313;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.tab-buttons {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .tab-button {
        width: 30%;
        height: 100%;
        background-color: #B7803B;
        border: none;
        border-radius: 50px;
        font-size: 1.5rem;
        color: #101313;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0px 10px 6px rgb(255, 255, 255);
        outline: 1px solid #ffffff;
        &:hover {
            background-color: #e9e294;
        }
        &:active{
            color: #ffffff;
        }
    }
}
.form-content {
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    label{
        font-size: 1.2rem;
        color: #ffffff;
        position: relative;
        left: -60px;
        top: 10px;  
    }

    input {
        width:50%;
        height: 20%;
        border-radius: 50px;
        border: none;
        padding: 0 1rem;
        font-size: 1.2rem;
        outline: none;
        box-shadow: 0px 10px 6px rgb(255, 255, 255);
        background-color: #FFB703;
    }

    button {
        width: 50%;
        height: 20%;
        border-radius: 50px;
        border: none;
        background-color: #FB8500;
        color: #101313;
        font-size: 1.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0px 10px 6px rgb(255, 255, 255);
        outline: 1px solid #ffffff;

        &:hover {
            background-color: #E9E294;
        }
        &:active{
            color: #FB8500;
        }
    }
}